<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-<hash>"
      crossorigin="anonymous"
    />

    <title>FarmFresh-Admin</title>

    <link rel="stylesheet" href="../styles/stlyle-items.css" />
  </head>

  <body>
    <!-- Side navigation -->
    <div class="sidenav">
      <div class="web-name">
        <h1>FarmFresh</h1>
        <p>Store Side</p>
      </div>
      <div class="side-menu">
        <a href="index.html"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="#"><i class="fas fa-store"></i> Store</a>
        <a href="items.html"><i class="fas fa-list"></i> Item List</a>
        <a href="history.html"><i class="fas fa-history"></i> Order History</a>
        <a href="location.html"
          ><i class="fas fa-map-marker-alt"></i> Location</a
        >
        <a href="review.html"><i class="fas fa-star"></i> Review</a>
        <a href="#"><i class="fas fa-comments"></i> Chat</a>
      </div>
    </div>

    <main>
      <div class="top-dashboard">
        <!-- Bagian 1: menu -->
        <div class="item-menu">
          <ul>
            <li>
              <a href="#"><i class="fas fa-comments"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-cog"></i></a>
            </li>
          </ul>
        </div>

        <!-- Bagian 2: Profile Pic -->
        <div class="profile-pic">
          <p>Hello, Esa Faizal Gibran</p>
          <img src="../publics/img/image.png" alt="Avatar" />
        </div>
      </div>

      <div class="items-count">
        <div class="item-container" id="totalItems">
          <div class="icons-container">
            <i class="fas fa-boxes"></i>
          </div>
          <div class="texts-container">
            <h3>Total Items</h3>
            <h2>0</h2>
          </div>
        </div>

        <div class="item-container" id="totalSayuran">
          <div class="icons-container">
            <i class="fas fa-carrot"></i>
          </div>
          <div class="texts-container">
            <h3>Total Sayuran</h3>
            <h2>0</h2>
          </div>
        </div>

        <div class="item-container" id="totalBuah">
          <div class="icons-container">
            <i class="fas fa-apple-alt"></i>
          </div>
          <div class="texts-container">
            <h3>Total Buah</h3>
            <h2>0</h2>
          </div>
        </div>

        <div class="item-container" id="totalBumbu">
          <div class="icons-container">
            <i class="fas fa-caret-up"></i>
          </div>
          <div class="texts-container">
            <h3>Total Bumbu</h3>
            <h2>0</h2>
          </div>
        </div>
      </div>

      <div class="items-container">
        <div class="top-section">
          <h2>All Items</h2>
          <button id="addItemBtn" class="add-items">+ Add New Items</button>
          <!-- <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button><i class="fas fa-search"></i></button>
            </div> -->
        </div>

        <div class="items-table">
          <table style="width: 100%">
            <thead>
              <tr>
                <th style="width: 5%">No</th>
                <th style="width: 20%">Name</th>
                <th style="width: 20%">Price</th>
                <th style="width: 5%">Rate</th>
                <th style="width: 15%">Type</th>
                <th style="width: 20%">Category</th>
                <th style="width: 10%">Quantity</th>
                <th style="width: 5%">button</th>
              </tr>
            </thead>
            <tbody id="table-body">
              <!-- Rows will be added here dynamically -->
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <script src="../scripts/items.js"></script>
  </body>
</html>
